mixin passwordInput(label, name, placeholder,val=null)
    .form-group
        label(for=name)=label
        input.form-control(id=name ,name=name ,type="password", placeholder=placeholder, value=val)